p{color:red ;}
.um{color:black ; border: 3px black; background-color: red;}
.dois{color: lightgreen; border: 1px purple; background-color:grey ;}
.tres{color: blueviolet;border: 10px yellow; background-color: aqua;}
#titulo{color: white; border: 2px solid red; background-color: black;}